<!DOCTYPE html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org" ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FMan | Collections</title>
    <!-- Favicon icon - Icon cho trang web -->
    <link rel="icon" type="image/png" sizes="16x16"
          th:href="@{/admin-resouce/plugins/images/favicon.png}">
    <!-- Custom CSS -->
    <link th:href="@{/admin-resouce/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css">
    <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
    <script th:src="@{/admin-resouce/plugins/bower_components/jquery/dist/gridjs.production.min.js}"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script th:src="@{/admin-resouce/angularjs/notification/notification.js}"></script>

</head>

<body>
<!--<div class="preloader">-->
<!--    <div class="lds-ripple">-->
<!--        <div class="lds-pos"></div>-->
<!--        <div class="lds-pos"></div>-->
<!--    </div>-->
<!--</div>-->
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->

<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Header -->
    <header th:replace="~{/admin/layout/Conponent/header.html :: header}"></header>
    <!-- Header -->
    <!-- Sidebar -->
    <aside th:replace="~{/admin/layout/Conponent/sidebar.html :: sidebar}"></aside>
    <!-- Sidebar -->

    <div id="container" class="page-wrapper">
        <!-- Taskbar -->
        <div th:replace="~{/admin/layout/Conponent/taskbar.html :: taskbar}"></div>
        <!-- Taskbar -->
        <div class="container-fluid">
            <ng-view></ng-view>
        </div>
        <!-- Footer -->
        <footer th:replace="~{/admin/layout/Conponent/footer.html :: footer}"></footer>
        <!-- Footer -->
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
        th:src="@{/admin-resouce/plugins/bower_components/jquery/dist/jquery.min.js}"></script>
<!-- Bootstrap tether Core JavaScript -->
<script th:src="@{/admin-resouce/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<!--Menu sidebar -->

<script th:src="@{/admin-resouce/angularjs/app.js}"></script>
<script th:src="@{/admin-resouce/angularjs/admin-router.js}"></script>
<script th:src="@{/admin-resouce/angularjs/service/dataservice.js}"></script>
<script th:src="@{/admin-resouce/angularjs/service/formservice.js}"></script>
<script th:src="@{/admin-resouce/angularjs/service/errorservice.js}"></script>
<script th:src="@{/admin-resouce/angularjs/controller/category-controller.js}"></script>
<script th:src="@{/admin-resouce/angularjs/controller/product-controller.js}"></script>
<script th:src="@{/admin-resouce/angularjs/controller/brand-controller.js}"></script>
<script th:src="@{/admin-resouce/angularjs/controller/order-controller.js}"></script>

<script th:src="@{/admin-resouce/angularjs/controller/discount-controller.js}"></script>
<script th:src="@{/admin-resouce/angularjs/controller/payment-method-controller.js}"></script>

<!--Custom JavaScript -->
<script th:src="@{/admin-resouce/js/custom.js}"></script>
</body>

</html>