<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!user">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay Lại
    </a>
</div>
<form>
    <div class="row">
        <div id="imgDialog" class="col-4 mb-3">
            <div id="image-box" class="text-center position-relative w-100 h-100" style="border: dashed"
                 ng-click="toggleInput()">
                <img id="blah" class="img-fluid"/>
                <i id="icon-upload"
                   class="fa fa-cloud-upload fs-7 position-absolute top-50 start-50 translate-middle"
                   aria-hidden="true"></i>
                <img id="imgPreview" ng-src="{{previewImage}}" alt="Preview" ng-show="showPreview"
                     style="max-width: 100%;"/>
                <input accept="image/*" type="file" id="imgInp" style="display: none;" required="required"
                       ng-model="photo_file"/>
            </div>
        </div>


        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_name" placeholder="Họ và tên" ng-model="form.name"/>
                        <label for="user_name">Họ và tên</label>
                    </div>
                </div>
                

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="user_password" placeholder="Nhập Password"
                            ng-model="form.password"/>
                            <label for="user_password">Nhập mật khẩu</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="user_email" placeholder="Nhập Email"
                            ng-model="form.email" />
                            <label for="user_email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="user_numberPhone"
                                   placeholder="Nhập số điện thoại"  ng-model="form.numberPhone" />
                            <label for="user_numberPhone">Số điện thoại</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-6">
                        <label class="me-2">Vai trò:</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio1"
                                         value="ADMIN"  ng-model="form.roleId" />
                            <label class="form-check-label" for="inlineRadio1">Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio2"
                                         value="USER" ng-model="form.roleId"  checked="${user.roleId == null ? 'checked' : '' }" />
                            <label class="form-check-label" for="inlineRadio2">User</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Hoạt động</label>
                            <input type="checkbox" class="form-check-input" id="flexSwitchCheckChecked" ng-model="form.active" value="1"
                                      checked="checked" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <button ng-click="create()" class="btn btn-blue-primary btn-lg">
                Tạo
            </button>
        </div>
    </div>
</form>