<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!user">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay Lại
    </a>
</div>
<form>
    <div class="row">
        <div class="col-4">
            <div id="imgDialog" class="col-12 mb-3">
                <div id="image-box" class="text-center position-relative w-100 h-100" style="border: dashed">
                    <img id="blah" class="img-fluid"/>
                    <i id="icon-upload"
                    class="fa fa-cloud-upload fs-7 position-absolute top-50 start-50 translate-middle"
                    aria-hidden="true"></i>
                    <input accept="image/*" type="file" id="imgInp" name="photo_file"/>
    <!--                <input type="text" hidden="hidden" ng-model="form.image">-->
                </div>
            </div>
        </div>


        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="user_name" placeholder="Họ và tên" ng-model="form.name"/>
                        <label for="user_name">Họ và tên</label>
                    </div>
                </div>
                

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="user_password" placeholder="Nhập Password"
                            ng-model="form.password"/>
                            <label for="user_password">Nhập mật khẩu</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="user_email" placeholder="Nhập Email"
                            ng-model="form.email" />
                            <label for="user_email">Email</label>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="user_numberPhone"
                                   placeholder="Nhập số điện thoại"  ng-model="form.numberPhone" />
                            <label for="user_numberPhone">Số điện thoại</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mb-3">
                <div class="row">
                    <div class="col-6">
                        <label class="me-2">Vai trò:</label>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio1"
                                         value="ADMIN"  ng-model="form.roleId" />
                            <label class="form-check-label" for="inlineRadio1">Admin</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input type="radio" class="form-check-input" name="inlineRadioOptions" id="inlineRadio2"
                                         value="USER" ng-model="form.roleId"  checked="${user.roleId == null ? 'checked' : '' }" />
                            <label class="form-check-label" for="inlineRadio2">User</label>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="flexSwitchCheckChecked">Hoạt động</label>
                            <input type="checkbox" class="form-check-input" id="flexSwitchCheckChecked" ng-model="form.active" value="1"
                                      checked="checked" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <button ng-click="update()" class="btn btn-blue-primary btn-lg">
                Cập nhật
            </button>
        </div>
    </div>
</form>
<!-- ========Modal reset mật khẩu -->
<!-- <div class="modal fade" id="confirmDeleteDialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                    Reset mật khẩu
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <img class="img-fluid mb-3" width="300px" height="300px"
                     th:src="@{admin-resouce/plugins/images/large/cat-screaming-no.jpg}"/>
                <h4>Bạn có chắc chắn muốn reset mật khẩu không?</h4>
            </div>
            <form action="${pageContext.request.contextPath}/admin/users/reset-password/${user.username}"
                  modelAttribute="user" method="post">
                <div class="modal-footer">
                    <div class="row g-3 w-100">
                        <div class="col-6">
                            <button class="btn btn-outline-danger w-100" data-bs-dismiss="modal"
                                    aria-label="Close">
                                Không
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="submit" class="btn btn-blue-primary w-100">
                                Có
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->