<div class="container-fluid" ng-controller="DashboardController">
    <div class="row justify-content-center mb-3">
        <h3 class="fw-bold">
            Hôm nay
        </h3>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-cube fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{soldProductData.dataToday}}</h3>
                            <p>Tổng Đã Bán</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fs-7 fa-shopping-bag"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{ordersData.dataToday}}</h3>
                            <p>Đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-money fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{revenueData.dataToday}}</h3>
                            <p>Doanh số</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <h3 class="fw-bold">
            Tuần này
        </h3>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-cube fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{soldProductData.dataWeek}}</h3>
                            <p>Tổng Đã Bán</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fs-7 fa-shopping-bag"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{ordersData.dataWeek}}</h3>
                            <p>Đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-money fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{revenueData.dataWeek}}</h3>
                            <p>Doanh số</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        <h3 class="fw-bold">
            Tháng này
        </h3>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-cube fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{soldProductData.dataMonth}}</h3>
                            <p>Tổng Đã Bán</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fs-7 fa-shopping-bag"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{ordersData.dataMonth}}</h3>
                            <p>Đơn hàng</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="card shadow">
                <div class="card-body">
                    <div class="row g-0 align-items-center">
                        <div class="col-3">
                            <div class="bg-blue-primary text-white rounded-pill p-4 text-center"
                                 style="width: 70px; height: 70px">
                                <i class="fa fa-money fs-7" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="col-9">
                            <h3>{{revenueData.dataMonth}}</h3>
                            <p>Doanh số</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dashboard">
        <div class="dashboard-title mb-3">
            <h3 class="fw-bold">
                Sản Phẩm Bán Chạy
            </h3>
        </div>
        <div class="row ">
            <div class="col-md-4 col-sm-12" ng-repeat="product in listTopSellProduct ">
                <div class="card  shadow">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-4">
                                <img ng-src="/admin-resouce/plugins/images/products/{{product.product.image}}"
                                     class="img-fluid rounded-circle border">
                            </div>
                            <div class="col-8">
                                <h4 class="fw-bold text-truncate">{{product.product.name}}</h4>
                                <p>{{product.product.priceStringVND}}</p>

                                <p>{{product.quantity}} đã bán</p>
                                <!-- <p class="text-truncate">Description.....</p> -->

                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent position-relative">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>