
<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!brand">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>

<div class="row">
         <form> 
            <div class="row">
            <div class="col-4">
                <div id="imgDialog" class="col-12 mb-3">
                    <div id="image-box" class="text-center position-relative w-100 h-100" style="border: dashed">
                        <img id="blah" class="img-fluid"/>
                        <i id="icon-upload"
                        class="fa fa-cloud-upload fs-7 position-absolute top-50 start-50 translate-middle"
                        aria-hidden="true"></i>
                        <input accept="image/*" type="file" id="imgInp" name="photo_file"/>
        <!--                <input type="text" hidden="hidden" ng-model="form.image">-->
                    </div>
                </div>
            </div>
                <div class="col-8">
                    <div class="col-12">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="brand_id" maxlength="15"  ng-model="form.id"
                                 
                                   placeholder="ID Danh Mục"/>
                            <label for="brand_id">ID</label>
                            <span class="text-danger">{{errors.id}}</span>
                        </div>
                    </div>
                    <div class="col-12 mb-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="brand_name" maxlength="50" ng-model="form.name"
                                   placeholder="Tên Danh Mục"/>
                            <label for="brand_name">Tên Thương Hiệu</label>
                            <span class="text-danger">{{errors.name}}</span>
                        </div>
                    </div>
                
                </div>
           
      
        <div class="col-12 text-end">
            <button class="btn btn-blue-primary btn-lg" ng-click="create()">
                Thêm
            </button>
        </div>

    </form>
</div>
  
