
<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!brand">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>

<div class="row">
    <form>

                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="brand_id" maxlength="15"  ng-model="form.id"
                             
                               placeholder="ID Danh Mục"/>
                        <label for="brand_id">ID</label>
                        <span class="text-danger">{{errors.id}}</span>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="brand_name" maxlength="50" ng-model="form.name"
                               placeholder="Tên Danh Mục"/>
                        <label for="brand_name">Tên Thương Hiệu</label>
                        <span class="text-danger">{{errors.name}}</span>
                    </div>
                </div>
            
           
    
          
      
        <div class="col-12 text-end">
            <button class="btn btn-blue-primary btn-lg" ng-click="create()">
                Thêm
            </button>
        </div>
    </form>
