<!--BACK-->
<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!brand">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>
<div class="product-details">
    <div class="product-details-title mb-4">
        <h3 class="fw-bold">Chi tiết thương hiệu</h3>
    </div>
    <div class="row g-3 align-items-center product-details-content">
        <div class="col-md-4">
            <img src="https://preview.redd.it/rrz3hmsxcll71.png?width=640&crop=smart&auto=webp&s=87cc5ed38d8f088ef9fffef7a4c5756b64309d6a"
                 class="rounded-circle img-fluid border" alt="Demo">
        </div>
        <div class="col-md-7">
            <table class="table table table-responsive-sm table-borderless">
                <tbody>
                <tr>
                    <th>ID:</th>
                    <td>BR01</td>
                </tr>
                <tr>
                    <th>Tên thương hiệu:</th>
                    <td> NIKE</td>
                </tr>
                <tr>
                    <th>Trạng Thái:</th>
                    <td> Hoạt động</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
