<body>
	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap" ng-controller="ChangePasswordController">
		<div class="container">
			<div class="row d-flex mx-auto justify-content-center align-items-center">

				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Đổi mật khẩu</h3>
						<h5 class="text-danger my-5" ng-model="err_message" id="err_message">{{err_message}}</h5>
						<h5 class="text-success my-5" ng-model="success_message">{{success_message}}</h5>
						<form class="row login_form needs-validation" method="post" name="changePassForm" novalidate>
							<div class="col-md-12 form-group">
								<label for="password" class="d-flex">Mật khẩu cũ</label>
								<input type="password" name="password" class="form-control" id="password"
									pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="password" required>
								<div class="invalid-feedback invalid-mess">Ít nhất 8 ký tự, chữ hoa và chữ
									thường</div>
								<div id="mess-password" class="invalid-feedback invalid-mess">
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label for="newPassword" class="d-flex">Mật khẩu mới</label>
								<input type="password" name="newPassword" class="form-control" id="newPassword"
									pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="newPassword" required>
								<div class="invalid-feedback invalid-mess">Ít nhất 8 ký tự, chữ hoa và chữ
									thường</div>
								<div id="mess-newPassword" class="invalid-feedback invalid-mess">
								</div>
							</div>
							<div class="col-md-12 form-group">
								<label for="confirmPassword" class="d-flex">Xác nhận mật khẩu</label>
								<input type="password" name="confirmPassword" class="form-control"
									id="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
									ng-model="confirmPassword" required>
								<div class="invalid-feedback invalid-mess">Ít nhất 8 ký tự, chữ hoa và chữ
									thường</div>
								<div id="mess-confirmPassword" class="invalid-feedback invalid-mess">
								</div>
							</div>

							<div class="col-md-12 form-group mt-5">
								<button type="submit" ng-click="changePassword()" class="primary-btn">Đổi mật khẩu</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>