<body>
<!--================Login Box Area =================-->
<section class="login_box_area section_gap" ng-controller="ChangeEmailController">
    <div class="container">
        <div class="row d-flex mx-auto justify-content-center align-items-center">
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Đổi email</h3>
                    <h5 class="text-danger my-5" ng-model="err_message" id="err_message">{{err_message}}</h5>
                    <h5 class="text-success my-5" ng-model="success_message">{{success_message}}</h5>
                    <form class="row login_form needs-validation" method="post" name="changeEmailForm" novalidate>
                        <div class="col-md-12 form-group">
                            <label for="newEmail" class="d-flex">Email mới</label>
                            <input type="email" name="newEmail" class="form-control" id="newEmail" ng-model="newEmail" required>
                            <div class="invalid-feedback invalid-mess">Vui lòng nhập đúng định dạng
                            </div>
                            <div id="mess-newEmail" class="invalid-feedback invalid-mess">
                            </div>
                        </div>
                        <div class="col-md-12 form-group">
                            <button type="submit" class="primary-btn" ng-click="changePassword()">Đổi email</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
