<section class="login_box_area section_gap" ng-controller="ForgetController">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="login_box_img">
                    <img class="img-fluid" th:src="@{/views/user/img/login.jpg}" alt="">
                    <div class="hover">
                        <h4>Nhớ lại mật khẩu chưa ?</h4>
                        <p>Nhớ thì đăng nhập nè</p>
                        <a class="primary-btn" th:href="@{/auth/login}">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="login_form_inner">
                    <h3>Quên mật khẩu</h3>
                    <h5 class="text-danger my-5" ng-model="err_message">{{err_message}}</h5>
                    <h5 class="text-success my-5" ng-model="success_message">{{success_message}}</h5>
                    <div ng-show="isShowEmail">
                        <form class="row login_form needs-validation" method="post" name="emailForm" novalidate>

                            <div class="col-md-12 form-group">

                                <label for="email" class="d-flex">Email</label>
                                <input type="email" name="email" class="form-control" id="email" ng-model="email"
                                    required>
                                <div class="invalid-feedback invalid-mess">Vui lòng nhập Email </div>
                                <div id="mess-email" class="invalid-feedback invalid-mess">
                                </div>

                            </div>

                            <div class="col-md-12 form-group mt-3">
                                <button type="submit" ng-click="confirmEmail()" class="primary-btn">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                    <div ng-hide="isShowEmail">
                        <form class="row login_form needs-validation" method="post" name="passwordForm" novalidate>

                            <div class="col-md-12 form-group">
                                <label for="password" class="d-flex">Mật khẩu</label>
                                <input type="password" name="password" class="form-control" id="password"
                                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" ng-model="password" required>
                                <div class="invalid-feedback invalid-mess">Ít nhất 8 ký tự, chữ hoa và chữ
                                    thường</div>
                                <div id="mess-password" class="invalid-feedback invalid-mess">
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <label for="confirmPassword" class="d-flex">Xác nhận mật khẩu</label>
                                <input type="password" name="confirmPassword" class="form-control"
                                    id="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                    ng-model="confirmPassword" required>
                                <div class="invalid-feedback invalid-mess">Ít nhất 8 ký tự, chữ hoa và chữ
                                    thường</div>
                                <div id="mess-confirmPassword" class="invalid-feedback invalid-mess">
                                </div>
                            </div>
                            <div class="col-md-12 form-group mt-3">
                                <button type="submit" ng-click="changePassword()" class="primary-btn">Xác nhận</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>