<!--      CODE TRONG DDAAY-->
<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!order">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay Lại
    </a>
</div>

<div class="d-flex justify-content-between mb-3">
    <div class="sort-fillter align-items-center">
                                   
        <span class="dropdown mb-5">

            <button class="btn bg-transparent border shadow dropdown-toggle" type="button"
                    id="btn-sortBy" data-bs-toggle="dropdown" aria-expanded="false">

                Sắp xếp theo
            </button>
            <ul class="dropdown-menu" aria-labelledby="sort" id="sortBy">
                <li><a class="dropdown-item" value="createAt" type="button" id="createAt"
                       onclick="setValueSortBy('createAt','Ngày tạo')">Ngày tạo</a>
                </li>
                <li><a class="dropdown-item" value="total" type="button" id="total"
                       onclick="setValueSortBy('total','Tổng tiền')">Tổng tiền</a>
                </li>

            </ul>
        </span>
        <span class="dropdown mb-5">

            <button class="btn bg-transparent border shadow dropdown-toggle" type="button"
                    id="btn-sortOrder" data-bs-toggle="dropdown" aria-expanded="false">
                Chiều
            </button>
            <ul class="dropdown-menu" aria-labelledby="sort" id="sortOrder">
                <li><a class="dropdown-item" value="asc" type="button" id="asc"
                       onclick="setValuesortOrder('asc','Tăng dần')">Tăng dần</a>
                </li>
                <li><a class="dropdown-item" value="desc" type="button" id="desc"
                       onclick="setValuesortOrder('desc','Giảm dần')">Giảm dần</a>
                </li>

            </ul>
        </span>

    </div>

</div>

<div class="table-responsive">
    <table class="table table-hover table-striped">
        <thead class="table-header-custom">
        <tr>
            <th scope="col">STT</th>
            <th scope="col">Mã đơn</th>
            <th scope="col">Khách hàng</th>
            <th scope="col">Ngày đặt</th>
            <th scope="col">Địa chỉ</th>
            <th scope="col">Đơn giá ( VNĐ )</th>
            <th scope="col">Thao tác</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>ID01</td>
                <td>Nguyen Phuoc Tai</td>
                <td>20/20/02020</td>
                <td>Receiver, Number phone, Address
                </td>
                <td>200000000</td>
                <td>
                    <a class="text-dark"
                       href="#!order-detail/1">
                        <button class="border-0 bg-transparent">
                            <i class="fa fa-eye" aria-hidden="true"></i>
                        </button>
                    </a>


                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center pagination-custom">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link fs-4" type="button" onclick="paginationEdge('first')">
                    <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
                </a>
            </li>

<!--            <c:forEach var="i" begin="0" end="${totalPages - 1 < 0 ? 0 : totalPages - 1}">-->
                <li class="page-item"><a id="page_${i + 1}" name="${(i == currentPage) ? 'paged_active' : 'no'}"
                                         class="${(i == currentPage) ? 'active' : 'no'} page-link fs-4 " type="button"
                                         onclick="pagination(this)">${i + 1}</a></li>
<!--            </c:forEach>-->

            <li class="page-item">
                <a class="page-link fs-4" onclick="paginationEdge('last')" type="button">
                    <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
<!--<script>-->

<!--    filt();-->

<!--    function filt() {-->

<!--        var sortByDropDown = document.getElementById("sortBy");-->
<!--        document.getElementById("btn-sortBy").innerHTML = document.getElementById('${sortBy}').innerHTML;-->
<!--        sortByDropDown.setAttribute("value", '${sortBy}');-->

<!--        var sortOrderDropDown = document.getElementById("sortOrder");-->
<!--        document.getElementById("btn-sortOrder").innerHTML = document.getElementById('${sortOrder}').innerHTML;-->
<!--        sortOrderDropDown.setAttribute("value", '${sortOrder}');-->
<!--        console.log('${sortOrder}')-->
<!--        console.log(sortOrderDropDown.getAttribute("value"))-->
<!--    }-->

<!--    function setValueSortBy(sortBy, name) {-->
<!--        var sortByDropDown = document.getElementById("sortBy");-->
<!--        document.getElementById("btn-sortBy").innerHTML = name;-->
<!--        sortByDropDown.setAttribute("value", sortBy);-->
<!--        filtOrder();-->
<!--    }-->

<!--    function setValuesortOrder(sortOrder, name) {-->
<!--        var sortOrderDropDown = document.getElementById("sortOrder");-->
<!--        document.getElementById("btn-sortOrder").innerHTML = name;-->
<!--        sortOrderDropDown.setAttribute("value", sortOrder);-->
<!--        filtOrder();-->
<!--    }-->

<!--    function pagination(page) {-->
<!--        var itemList = document.querySelectorAll('a[id^="page_"]');-->
<!--        console.log("PAGEEE:" + page.innerHTML)-->
<!--        itemList.forEach(function (item) {-->
<!--            item.setAttribute("name", "");-->
<!--        })-->
<!--        page.setAttribute("name", "page_active");-->
<!--        filtOrder();-->
<!--    }-->

<!--    function paginationEdge(eage) {-->
<!--        var itemList = document.querySelectorAll('a[id^="page_"]');-->
<!--        if (eage === "first") {-->
<!--            pagination(itemList[0])-->
<!--        } else {-->
<!--            pagination(itemList[itemList.length - 1])-->
<!--        }-->
<!--    }-->

<!--    function filtOrder() {-->

<!--        var sortBy;-->
<!--        var sortOrder;-->

<!--        var page = document.getElementsByName("page_active")[0].innerHTML;-->


<!--        var sortByDropDown = document.getElementById("sortBy");-->
<!--        sortBy = sortByDropDown.getAttribute("value");-->
<!--        var sortOrderDropDown = document.getElementById("sortOrder");-->
<!--        sortOrder = sortOrderDropDown.getAttribute("value");-->

<!--        if (sortBy == null) {-->
<!--            sortBy = '';-->
<!--        }-->

<!--        if (sortOrder == null) {-->
<!--            sortOrder = '';-->
<!--        }-->


<!--        var pageSize = ${ size };-->
<!--        console.log("PAGEE: " + page);-->
<!--        var url = "${pageContext.request.contextPath}/admin/orders/approve?orderStateId=PENDING_APPROVAL" + "&sortBy=" + sortBy + "&sortOrder=" + sortOrder + "&page=" + (page) + "&size=" + pageSize-->
<!--        window.location.href = url-->
<!--        // console.log(url);-->

<!--    }-->
<!--</script>-->
