<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!discount">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>
<form>
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" ng-model="form.name"/>
                <label for="name">Tên mã giảm giá</label>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <div class="form-floating mb-3">
                    <input minlength="1" maxlength="3" type="number" class="form-control" id="sale_percent"
                           ng-model="form.salePercent" step="0.5"/>
                    <label for="sale_percent">Phần trăm giảm giá</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="start-date" ng-model="form.startAt"/>
                    <label for="start-date">Ngày bắt đầu</label>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-floating mb-3">
                <div class="form-floating mb-3">
                    <input type="datetime-local" class="form-control" id="end-date" ng-model="form.endAt"/>
                    <label for="end-date">Ngày kết thúc</label>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="min-price" ng-model="form.minPrice"/>
                        <label for="min-price">Giá thấp nhất</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <button id="submitButton" class="btn btn-blue-primary btn-lg" ng-click="create()">
                Tạo
            </button>
            <button  class="btn btn-success btn-lg text-white" ng-click="reset()">
                Reset
            </button>
        </div>
    </div>
</form>
