<!--<c:if test="${isCreateFasle}">-->
<!--    <div id="show-alert" class="alert alert-warning alert-dismissible fade show sticky-top"-->
<!--         role="alert">-->
<!--        <strong>Fail!</strong> Size đã tồn tại! Vui lòng thử lại size khác!-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>-->
<!--    </div>-->
<!--</c:if>-->
<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!size">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>
<div class="row">
    <form action="" method="post">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="text" path="id" class="form-control" id="size_id" maxlength="6"
                                    placeholder="Nhập ID"/>
                        <label for="size_id">ID (VD: SIZE35, SIZE36,...)</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="number" path="size" class="form-control" step="0.5" id="size" maxlength="3"
                                    placeholder="Nhập size"/>
                        <label for="size">Size (VD: 40, 41, 42,...)</label>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="number" path="length" class="form-control" id="size_dai" maxlength="3"
                                        placeholder="Nhập chiều dài"/>
                            <label for="size_dai">Chiều dài <sup>(cm)</sup></label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <input type="number" path="width" class="form-control" id="size_rong" maxlength="3"
                                        placeholder="Nhập chiều rộng"/>
                            <label for="size_rong">Chiều rộng <sup>(cm)</sup></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end">
            <button class="btn btn-blue-primary btn-lg">
                Tạo
            </button>
        </div>
<!--        <%&#45;&#45;=======================================================&#45;&#45;%>-->
<!--        <c:if test="${isSizeExsisted}">-->
<!--            <%&#45;&#45;Call thằng modal comfirm khi có lỗi&#45;&#45;%>-->
<!--            <script>-->
<!--                window.onload = function CallModal() {-->
<!--                    document.getElementById('modalshow').click();-->
<!--                }-->
<!--            </script>-->
<!--            &lt;!&ndash; Button trigger modal &ndash;&gt;-->
<!--            <button id="modalshow" type="button"-->
<!--                    class="d-none" data-bs-toggle="modal" data-bs-target="#showDialogConfirm">-->
<!--                Errors-->
<!--            </button>-->

<!--            &lt;!&ndash; Modal &ndash;&gt;-->
<!--            <div class="modal fade" id="showDialogConfirm" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                 aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h1 class="modal-title fs-7" id="exampleModalLabel">Xác nhận</h1>-->
<!--                            <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                    aria-label="Close"></button>-->
<!--                        </div>-->
<!--                        <div class="modal-body fs-4">-->
<!--                            SizeID này đã tồn tại, bạn có muốn cập nhật lại size này?-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <div class="row g-3 w-100">-->
<!--                                <div class="col-6">-->
<!--                                    <button type="button" class="btn btn-outline-secondary w-100"-->
<!--                                            data-bs-dismiss="modal">Không-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="col-6">-->
<!--                                    <button formaction="${pageContext.request.contextPath}/admin/sizes/create?isConfirm=true"-->
<!--                                            type="submit" class="btn btn-viva w-100">Có-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </c:if>-->
    </form>
</div>
