<!-- Favicon-->
<!-- Favicon -->
<link rel="shortcut icon" th:href="@{/admin/plugins/images/logo-icon1.png}">
<link rel="stylesheet" th:href="@{/user/css/linearicons.css}">
<link rel="stylesheet" th:href="@{/user/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/user/css/themify-icons.css}">
<link rel="stylesheet" th:href="@{/user/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/user/css/owl.carousel.css}">
<link rel="stylesheet" th:href="@{/user/css/nice-select.css}">
<link rel="stylesheet" th:href="@{/user/css/nouislider.min.css}">
<link rel="stylesheet" th:href="@{/user/css/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{/user/css/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{/user/css/ion.rangeSlider.css}">
<link rel="stylesheet" th:href="@{/user/css/main.css}">

<link rel="stylesheet"
	href="${pageContext.request.contextPath}/user/css/magnific-popup.css">
<link rel="stylesheet"
	href="${pageContext.request.contextPath}/user/css/main.css">

	<link rel="shortcut icon"
	href="${pageContext.request.contextPath}/admin/plugins/images/logo-icon1.png">

	<title>F-MAN</title>