<script
        src="${pageContext.request.contextPath}/user/js/vendor/jquery-2.2.4.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/vendor/bootstrap.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/jquery.ajaxchimp.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/jquery.nice-select.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/jquery.sticky.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/nouislider.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/countdown.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/jquery.magnific-popup.min.js"></script>
<script
        src="${pageContext.request.contextPath}/user/js/owl.carousel.min.js"></script>
<!--gmaps Js-->
<script
        src="${pageContext.request.contextPath}/user/js/gmaps.min.js"></script>
<script src="${pageContext.request.contextPath}/user/js/main.js"></script>
