<aside class="left-sidebar" data-sidebarbg="skin6" th:fragment="sidebar" ng-controller="SidebarController">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">
        <!-- User Profile-->
        <li class="sidebar-item pt-2" ng-init="setActiveTab('dashboard')" ng-click="setActiveTab('dashboard')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('dashboard') }"
             href="#!index"
             aria-expanded="false">
            <i class="fa fa-th-large" aria-hidden="true"></i>
            <span class="hide-menu">Bảng Điều Khiển</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('product')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('product') }"
             href="#!product" aria-expanded="false">
            <i class="fa fa-cube" aria-hidden="true"></i>
            <span class="hide-menu">Sản Phẩm</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('brand')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('brand') }"
             href="#!brand"
             aria-expanded="false">
            <i class="fa fa-diamond" aria-hidden="true"></i>
            <span class="hide-menu">Thương Hiệu</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('category')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('category') }"
             href="#!category" aria-expanded="false">
            <i class="fa fa-align-left" aria-hidden="true"></i>
            <span class="hide-menu">Danh Mục</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('size')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('size') }"
             href="#!size"
             aria-expanded="false">
            <i class="fa fa-strikethrough" aria-hidden="true"></i>
            <span class="hide-menu">Size</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('discount')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('discount') }"
             href="#!discount" aria-expanded="false">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            <span class="hide-menu">Giảm Giá</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('order')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link"  ng-class="{ 'active': isTabActive('order') }"
             href="#!order"
             aria-expanded="false">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="hide-menu">Đơn Hàng</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('user')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('user') }"
             href="#!user"
             aria-expanded="false">
            <i class="fa fa-users" aria-hidden="true"></i>
            <span class="hide-menu">Người Dùng</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('payment')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('payment') }"
             href="#!payment" aria-expanded="false">
            <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
            <span class="hide-menu">Phương Thức Thanh Toán</span>
          </a>
        </li>
        <li class="sidebar-item" ng-click="setActiveTab('analysis')">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" ng-class="{ 'active': isTabActive('analysis') }"
             href="#!analysis-revenue" aria-expanded="false">
            <i class="fa fa-pie-chart fs-5" aria-hidden="true"></i>
            <span class="hide-menu">Thống Kê</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link waves-effect waves-dark sidebar-link" aria-expanded="false"
             th:href="@{#}"
          >
            <i class="fa fa-sign-out fs-5" aria-hidden="true"></i>
            <span class="hide-menu">Đăng Xuất</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>