<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Trang chủ | FMan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.min.css">

    <link rel="shortcut icon" th:href="@{/admin/plugins/images/logo-icon1.png}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/owl.carousel.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/nice-select.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/nouislider.min.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/ion.rangeSlider.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/main.css}">
    <link rel="stylesheet" th:href="@{/user-resouce/css/validform.css}">
</head>

<body>

<!-- Start Header Area -->
<div th:replace="~{/user/view/component/nav.html::nav}"></div>
<!-- End Header Area -->
<div class="container mt-5 section_gap">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
                <div class="head">Loại giày</div>
                <ul class="main-categories">
                    <li class="main-nav-list" th:each="productType : ${list_productType}" th:object="${productType}">
                        <th:block th:if="*{products.size() >= 1}">
                            <a th:class="${productType.id.equalsIgnoreCase(productTypeId)} ? 'text-warning' : ''"
                               th:href="@{/category/ (show=${show}, direction=${direction}, p=${p}, productTypeId=${productType.id})}">
                               <span class="d-flex justify-content-between">
                                   <span class="" th:text="*{name}"></span>
                               <span class="number" th:text="(*{products.size()})"></span>
                               </span>
                            </a>
                        </th:block>
                    </li>
                </ul>
            </div>
            <div class="sidebar-filter mt-50">
                <div class="top-filter-head">Lọc sản phẩm</div>
                <form th:action="@{/category/fillter}" method="post">
                    <div class="common-filter">
                        <div class="head">Thương hiệu</div>
                        <ul>
                            <li class="filter-list" th:each="brands : ${list_brand}" th:object="${brands}">
                                <th:block th:if="*{products.size() >= 1}">
                                    <input class="pixel-radio" type="radio" th:id="*{id}" name="brandId"
                                           th:value="*{id}"
                                           th:checked="${brands.id.equalsIgnoreCase(brandId)}">
                                    <label th:for="*{id}" th:text="*{name}">
                                        <span class="align-content-end number" th:text="*{products.size()}"></span>
                                    </label>
                                </th:block>

                            </li>
                        </ul>

                    </div>
                    <div class="common-filter">
                        <div class="head">Giá</div>
                        <div class="form-group mx-4">
                            <label for="min-price">Giá nhỏ nhất:</label>
                            <input type="number" name="min_price" th:value="${min_price}" class="form-control"
                                   id="min-price">
                        </div>
                        <div class="form-group mx-4">
                            <label for="max-price">Giá lớn nhất:</label>
                            <input type="number" name="max_price" th:value="${max_price}" class="form-control"
                                   id="max-price">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" value="submit" class="primary-btn rounded-0 mt-3 border-0 w-100">Lọc Sản
                            phẩm
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class="filter-bar d-flex flex-wrap align-items-center">
                <div class="sorting">
                    <select onchange="window.location.href= this.value">
                        <option value="/category/?show=${show}&direction=desc"
                                selected disabled>Sắp xếp theo
                        </option>
                        <option th:value="@{/category/?show=__${show}__&direction=asc&productTypeId=__${productTypeId}__&field=price&keywords=__${keywords}__}"
                                th:selected="${direction.equalsIgnoreCase('asc')}" >
                            Giá tăng
                            dần
                        </option>
                        <option th:value="@{/category/?show=__${show}__&direction=desc&productTypeId=__${productTypeId}__&field=price&keywords=__${keywords}__}"
                                th:selected="${direction.equalsIgnoreCase('desc')}">
                            Giá giảm
                            dần
                        </option>
                    </select>
                </div>

                <div class="sorting mr-auto">
                    <select onchange="window.location.href=this.value;">
                        <option th:value="@{/category/?show=8&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__}"
                                th:selected="${show == 8}">
                            Hiển
                            thị 8 sản phẩm
                        </option>
                        <option th:value="@{/category/?show=16&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__}"
                                th:selected="${show == 16}">
                            Hiển
                            thị 16 sản phẩm
                        </option>
                        <option th:value="@{/category/?show=32&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__}"
                                th:selected="${show == 32}">
                            Hiển
                            thị 32 sản phẩm
                        </option>
                    </select>
                </div>
                <div class="text-white mr-auto align-middle">Tìm thấy <span th:text="${items.totalElements}"></span> sản
                    phẩm
                </div>
                <div class="pagination">

                    <a th:href="@{/category/?show=__${show}__&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__&p=__${items.number - 1 < 0 ? 0 : items.number - 1}__}"
                       class="prev-arrow"><i class="fa fa-long-arrow-left"
                                             aria-hidden="true"></i></a>
                    <a th:if="${items.totalPages > 0}"
                       th:each="i: ${#numbers.sequence(1, items.totalPages)}" th:text="${i}"
                       th:class="${i - 1 == items.number ? 'active' : ''}"
                       th:href="@{/category/?show=__${show}__&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__&p=__${i - 1}__}"></a>
                    <a th:href="@{/category/?show=__${show}__&direction=__${direction}__&field=__${field}__&productTypeId=__${productTypeId}__&keywords=__${keywords}__&p=__${items.number + 1 > items.totalPages - 1 ? items.totalPages - 1 : items.number + 1}__}"
                       class="next-arrow"><i class="fa fa-long-arrow-right"
                                             aria-hidden="true"></i></a>
                </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="latest-product-area pb-40 category-list">
                <div class="row">
                    <div class="col-lg-3 col-md-6" th:each="item : ${items.content}" th:object="${item}">
                        <a th:href="@{/product/__${item.id}__}">
                            <div class="single-product">
                                <img class="img-fluid" style="max-height: 280px"
                                     th:src="@{/admin-resouce/plugins/images/products/__${item.image}__}" alt="">
                                <div class="product-details">
                                    <h6 th:text="${item.name}"></h6>
                                    <div class="price">
                                        <h6 th:text="${item.price}"></h6>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- End Best Seller -->
        </div>
    </div>
</div>
</div>
<div th:replace="~{/user/view/component/footer.html::footer}">
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>
<script th:src="@{/user-resouce/js/vendor/jquery-2.2.4.min.js}"></script>
<script th:src="@{/user-resouce/js/vendor/bootstrap.min.js}"></script>
<script th:src="@{/user-resouce/js/jquery.ajaxchimp.min.js}"></script>
<script th:src="@{/user-resouce/js/jquery.nice-select.min.js}"></script>
<script th:src="@{/user-resouce/js/jquery.sticky.js}"></script>
<script th:src="@{/user-resouce/js/nouislider.min.js}"></script>
<!--  <script th:src="@{/user-resouce/js/countdown.js}"></script>-->
<script th:src="@{/user-resouce/js/jquery.magnific-popup.min.js}"></script>
<script th:src="@{/user-resouce/js/owl.carousel.min.js}"></script>
<!--gmaps Js-->
<script th:src="@{/user-resouce/js/gmaps.min.js}"></script>
<script th:src="@{/user-resouce/js/main.js}"></script>

<script th:src="@{/common/commonFunction.js}"></script>
</body>

</html>