<div class="row d-flex">
    <div class=" col-2">
        <a type="button" href="#!analysis-revenue" class="btn btn-blue-primary">Thống kê
            doanh thu</a>
    </div>
    <div class="col-2">
        <a href="#!analysis-sellProducts" class="btn btn-blue-primary">Thống kê sản
            phẩm</a>
    </div>
    <div class="col-2">
        <a href="#!analysis-orders" class="btn btn-blue-primary">Thống kê đơn hàng</a>
    </div>
</div>
<div className="d-flex justify-content-between mb-3 mt-5">
    <div className="sort-fillter align-items-center">

        <span className="dropdown mb-5">

            <button className="btn bg-transparent border shadow dropdown-toggle" type="button" id="btn-renvueYear"
                    data-bs-toggle="dropdown" aria-expanded="false">

                Thời gian
            </button>
            <ul className="dropdown-menu" aria-labelledby="sort" id="sortOrderTime">

                <!--                                        <c:forEach items="${listYear}" var="year">-->
                <li><a className="dropdown-item" value="${year}" type="button"
                       href="/admin/analysis/sellProducts?year=${year}">${year}</a>
                </li>
                <!--                                        </c:forEach>-->

            </ul>
        </span>

        <span className="dropdown mb-5">

            <button className="btn bg-transparent border shadow dropdown-toggle" type="button" id="btn-sortOrder"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Chiều
            </button>
            <ul className="dropdown-menu" aria-labelledby="sort" id="sortOrderDirec">
                <li><a className="dropdown-item" value="asc" type="button" id="asc"
                       onClick="setValuesortOrder('asc','Tăng dần')">Tăng dần</a>
                </li>
                <li><a className="dropdown-item" value="desc" type="button" id="desc"
                       onClick="setValuesortOrder('desc','Giảm dần')">Giảm dần</a>
                </li>
                <li><a className="dropdown-item" value="default" type="button" id="default"
                       onClick="setValuesortOrder('default','Mặc định')">Mặc định</a>
                </li>


            </ul>
        </span>
        <span className="dropdown mb-5">

            <button className="btn bg-transparent border shadow dropdown-toggle" type="button" id="btn-filtQuarter"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Quý
            </button>
            <ul className="dropdown-menu" aria-labelledby="sort" id="sortOrder">
                <li><a className="dropdown-item" value="quy1" type="button" id="quy1"
                       onClick="filtDataQuarter('quy1','Quý 1')">Quý 1</a>
                </li>
                <li><a className="dropdown-item" value="quy2" type="button" id="quy2"
                       onClick="filtDataQuarter('quy2','Quý 2')">Quý 2</a>
                </li>
                <li><a className="dropdown-item" value="quy3" type="button" id="quy3"
                       onClick="filtDataQuarter('quy3','Quý 3')">Quý 3</a>
                </li>
                <li><a className="dropdown-item" value="quy4" type="button" id="quy4"
                       onClick="filtDataQuarter('quy4','Quý 4')">Quý 4</a>
                </li>
                <li><a className="dropdown-item" value="all" type="button" id="all"
                       onClick="filtDataQuarter('all','Cả năm')">Cả năm</a>
                </li>

            </ul>
        </span>

    </div>

</div>
<div>
    <canvas id="myChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');


    var listData = [];
    var listDataFilt = [];
    var listDataSort = [];
    var isSortOrder = "default";
    var isFiltQuartar = "all";

    document.getElementById("btn-renvueYear").innerHTML = "${not empty year ? year : 'Năm'}";


    // <c:forEach items="${dataSellProductDTOs}" var="data">
    //     listData.push( {label: '${data.product.name}' , value: ${data.quantity}  }, )
    // </c:forEach>

    // const data = [
    //     { label: 'Sản phẩm A', value: 100 },
    //     { label: 'Sản phẩm B', value: 90 },
    //     { label: 'Sản phẩm C', value: 23 },
    //     { label: 'Sản phẩm C', value: 23 },
    //     { label: 'Sản phẩm C', value: 45 },
    //     { label: 'Sản phẩm C', value: 54 },
    //     { label: 'Sản phẩm C', value: 57 },
    //     { label: 'Sản phẩm C', value: 45 },
    //     // Thêm thông tin về 7 sản phẩm khác...
    // ];

    // Tạo mảng chứa các màu background khác nhau cho từng hàng
    const backgroundColors = [
        '#FF6384', '#36A2EB', '#FFCE56', '#4BC0C0', '#9966FF',
        '#FF9F40', '#8D4CDB', '#FF6384', '#36A2EB', '#FFCE56'
    ];

    // Tạo mảng chứa các nhãn cho từng hàng
    const labels = listData.map(item => item.label);

    // Tạo mảng chứa số lượng sản phẩm bán được
    const values = listData.map(item => item.value);
    var sortedData = listData.slice();

    var chart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Số lượng sản phẩm bán được',
                data: values,
                backgroundColor: backgroundColors
            }]
        },
        options: {
            indexAxis: 'y',
            scales: {
                x: {
                    beginAtZero: true,

                },
                y: {
                    position: 'right'
                }
            }
        }
    });


    function setValuesortOrder(order, label) {
        document.getElementById("btn-sortOrder").innerHTML = label;
        sortOrder = order; // Cập nhật giá trị sắp xếp hiện tại
        sortedData.sort((a, b) => {
            if (order === 'asc') {
                return a.value - b.value; // Sắp xếp tăng dần
            } else {
                return b.value - a.value; // Sắp xếp giảm dần
            }
        });
        const labels = sortedData.map(item => item.label);

        const values = sortedData.map(item => item.value);

        chart.data.datasets[0].data = values; // Cập nhật dữ liệu sắp xếp trong biểu đồ
        chart.data.labels = labels;
        chart.update(); // Cập nhật biểu đồ
    }

    function filtDataQuarter(quarter, label) {
        let startIndex, endIndex;
        document.getElementById("btn-filtQuarter").innerHTML = label;
        if (quarter === 'quy1') {
            startIndex = 0;
            endIndex = 3;
            chart.data.labels = ["Tháng 1", "Tháng 2", "Tháng 3"];
        } else if (quarter === 'quy2') {
            startIndex = 3;
            endIndex = 6;
            chart.data.labels = ["Tháng 4", "Tháng 5", "Tháng 6"];
        } else if (quarter === 'quy3') {
            startIndex = 6;
            endIndex = 9;
            chart.data.labels = ["Tháng 7", "Tháng 8", "Tháng 9"];
        } else if (quarter === 'quy4') {
            startIndex = 9;
            endIndex = 12;
            chart.data.labels = ["Tháng 10", "Tháng 11", "Tháng 12"];
        } else if (quarter === "all") {
            startIndex = 0;
            endIndex = 12;
            chart.data.labels = ["Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6",
                "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"];
        }

        const quarterData = sortedData.slice(startIndex, endIndex);


        chart.data.datasets[0].data = quarterData;
        chart.update();
    }


</script>