<div ng-controller="AnalysisProductController">
    <div class="row d-flex">
        <div class=" col-2">
            <a type="button" href="#!analysis-revenue" class="btn btn-blue-primary">Thống kê
                doanh thu</a>
        </div>
        <div class="col-2">
            <a href="#!analysis-sellProducts" class="btn btn-blue-primary">Thống kê sản
                phẩm</a>
        </div>
        <div class="col-2">
            <a href="#!analysis-orders" class="btn btn-blue-primary">Thống kê đơn hàng</a>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-3 mt-5">
        <div class="sort-fillter align-items-center">

            <span class="dropdown mb-5">
                <button class="btn bg-transparent border shadow dropdown-toggle" type="button" id="btn-renvueYear"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Thời gian
                </button>
                <ul class="dropdown-menu" aria-labelledby="sort" id="sortOrderTime">
                    <!-- Sử dụng ng-repeat để tạo các tùy chọn từ $scope.listYear -->
                    <li ng-repeat="year in listYear">
                        <a class="dropdown-item" ng-click="loadData(year)">{{year}}</a>
                    </li>
                </ul>
            </span>
            <span class="dropdown mb-5">

                <button class="btn bg-transparent border shadow dropdown-toggle" type="button" id="btn-sortOrder"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Chiều
                </button>
                <ul class="dropdown-menu" aria-labelledby="sort" id="sortOrderDirec">
                    <li><a class="dropdown-item" value="asc" type="button" id="asc"
                            ng-click="setValuesortOrder('asc','Tăng dần')">Tăng dần</a>
                    </li>
                    <li><a class="dropdown-item" value="desc" type="button" id="desc"
                            ng-click="setValuesortOrder('desc','Giảm dần')">Giảm dần</a>
                    </li>
                    <li><a class="dropdown-item" value="default" type="button" id="default"
                            ng-click="setValuesortOrder('default','Mặc định')">Mặc định</a>
                    </li>


                </ul>
            </span>
           

        </div>

    </div>
    <div>
        <canvas id="myChart"></canvas>
    </div>
  
</div>
