<div class="back mb-3">
    <a class="btn btn-blue-primary" href="#!product">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>

<form>
    <div class="row">
        <div id="imgDialog" class="col-4 mb-3">
            <div id="image-box" class="text-center position-relative w-100 h-100" style="border: dashed"
                 ng-click="toggleInput()">
                <img id="blah" class="img-fluid"/>
                <i id="icon-upload"
                   class="fa fa-cloud-upload fs-7 position-absolute top-50 start-50 translate-middle"
                   aria-hidden="true"></i>
                <img id="imgPreview" ng-src="{{previewImage}}" alt="Preview" ng-show="showPreview"
                     style="max-width: 100%;"/>
                <input accept="image/*" type="file" id="imgInp" style="display: none;" required="required"
                       ng-model="photo_file"/>
            </div>
        </div>
 
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" ng-model="form.id" readonly id="product_id"
                                    placeholder="ID Sản Phẩm"/>
                        <label for="product_id">ID Sản Phẩm</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" ng-model="form.name" id="product_name"
                                    placeholder="Tên sản phẩm"/>
                        <label for="product_name">Tên sản phẩm</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <select ng-model="form.brandId" id="product_brand" class="form-select">
                          
                            <option th:each ="brand:${listBrands}" th:value="${brand.id}">[(${brand.name})]</option>
                        </select>
                        <label for="product_brand">Thương hiệu</label>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-floating mb-3">
                        <select ng-model="form.productTypeId" id="product_type" class="form-select">
                            <option th:each ="productType:${listProductTypes}" th:value="${productType.id}">[(${productType.name})]</option>
                        </select>
                        <label for="product_type">Loại sản phẩm</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-floating mb-3">
                        <input type="number" min="200000" ng-model="form.price" class="form-control" id="product_price"
                                    placeholder="Giá sản phẩm"/>
                        <label for="product_price">Giá</label>
                    </div>
                </div>


                <!-- start modal -->
                <div class="col-6">
                    <button type="button" class="btn btn-outline-dark w-100 h-75" data-bs-toggle="modal"
                            data-bs-target="#exampleModal">
                        <i class="fa fa-scribd" aria-hidden="true"></i>
                        Số lượng
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Bảng Size</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div id="component-container">
                                        <div class="component">
                                            <table id="my-table"
                                                   class="table table-responsive-sm table-bordered">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">Số lượng</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody id="table-render">
                                                <tr th:each ="size:${listSizes}">
                                                    <td>
                                                        <div class="form-floating mb-3">
                                                            <input th:value="${size.id}" name="size_product" readonly width="30px">
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input class="h-100 w-100 py-2 fs-4" min="1"
                                                               name="quatity_product"
                                                               type="number"
                                                               placeholder="Nhập số lượng"></td>   
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Đóng
                                    </button>


                                    <button ng-click="clickSelectSizeUpdate()" class="btn btn-primary" id="addSize">Chọn</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal -->


            </div>
        </div>
        <div class="col-12 mb-3">
            <div class="form-floating">
                <textarea class="form-control" ng-model="form.desc" placeholder="Nhập ghi chú" id="product_note"
                               style="height: 100px"></textarea>
                <label for="product_note">Ghi chú</label>
               
            </div>
        </div>
        <div class="col-12 text-end">
            <button  class="btn btn-blue-primary btn-lg"  ng-click="update()" >
                Cập nhật
            </button>
        </div>
    </div>
</form>