<!--BACK-->
<div  class="back mb-3">
    <a class="btn btn-blue-primary" href="#!product">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i>
        Quay lại
    </a>
</div>
<div class="product-details" ng-init="loadDetails()">
    <div class="product-details-title mb-4">
        <h3 class="fw-bold">Chi tiết sản phẩm</h3>
    </div>
    <div class="row product-details-content">
        <div class="col-md-3 order-md-2">
            <img class="img-fluid rounded-circle"
            src="/admin-resouce/plugins/images/products/{{product.image}}">
        </div>
        <div class="col-md-4 order-md-1">
            <table class="table table table-responsive-sm table-borderless">
                <tbody class="custom-table-list">
                <tr>
                    <th>ID sản phẩm:</th>
                    <td>{{product.id}}</td>
                </tr>
                <tr>
                    <th>Tên sản phẩm:</th>
                    <td>{{product.name}}</td>
                </tr>
                <tr>
                    <th>Loại sản phẩm:</th>
                    <td>[(${productDetail.pr
                        oductType.name})]</td>
                </tr>
                <tr>
                    <th>Thương hiệu:</th>
                    <td>[(${productDetail.brand.name})]</td>
                </tr>
                <tr>
                    <th>Giá:</th>
                    <td>{{product.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-5 order-md-3">
            <table class="table table-responsive-sm table-borderless">
                <tbody class="custom-table-list">
                <tr>
                    <th>Ngày tạo:</th>
                    <td>{{product.createAt}}</td>
                </tr>
                <tr>
                    <th>Ngày cập nhật:</th>
                    <td>{{product.updateAt}}</td>
                </tr>
                <tr>
                    <th class="mb-3">
                        <p class="mb-4">
                            Size:
                        </p>
                        <p>
                            Số lượng:
                        </p>
                    </th>
                   
                    <td th:each = "productSize:${listSizeProduct}">
                        <div class="row">
                            <div class="col-4">
                                <p class="mb-4">[(${productSize.size.id})]</p>
                                <p>[(${productSize.quantity})]</p>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-12 mt-0">
        <table class="table table-borderless">
            <tr>
                <th style="width: 80px">
                    Ghi chú:
                </th>
                <td class="text-inverse">
                    {{product.desc}}
                </td>
            </tr>
        </table>
    </div>
</div>
